@{
    ViewData["Title"] = "Change Password";
}
@model ChangePasswordDTO

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6 card p-3">
        <h3 class="text-center text-info">Change Password</h3>
        <form asp-action="ChangePassword">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="OldPassword" class="control-label"></label>
                <input type="password" asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="NewPassword" class="control-label"></label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a  asp-area="" asp-controller="Account" asp-action="EditUser" class="text-decoration-none float-start mt-2">Back</a>
                </div>
                <div class="col-4">
                    <button type="submit" value="ChangePassword" class="btn btn-outline-primary btn-sm float-end">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}