html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
   
#sidebarbtngroup{
    justify-content:normal
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
tr.group,
tr.group:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

:root.dark tr.group,
:root.dark tr.group:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
}
#SubcategoryId {
    appearance: auto !important
}
.initial-size {
    width: 150px;
    height: 150px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.search-bar {
    text-align: right;
    margin-bottom: 20px;
}

.search-form {
    display: inline-block;
}

    .search-form input {
        margin-right: 10px;
    }

.reset-button {
    margin-left: 10px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.main-content {
    margin-left: 220px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: calc(33% - 40px);
    box-sizing: border-box;
}

.active {
    font-weight: bold;
}

