@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var cartCount = HttpContextAccessor.HttpContext.Session.GetInt32("CartCount") ?? 0;
}
<div class="d-flex ms-auto" style="margin-right:25%">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item ms-auto">
            <form method="get" action="/Account/Register" style="display:inline;">
                <button type="submit" class="btn btn-danger">Register</button>
            </form>
        </li>
        <li class="nav-item ms-auto">
            <form method="get" action="/Account/Login" style="display:inline;">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </li>
    }
    else
    {
        @if (!User.IsInRole("admin"))
        {
            <div class="btn-group me-5" role="group">
                <a class="btn btn-primary" type="button" asp-area="" asp-controller="Cart" asp-action="GetCart">
                    <span class="badge badge-pill badge-primary">@(cartCount)</span>
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @User.Identity!.Name
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="EditUser">Edit Information</a></li>
                        <li><a class="dropdown-item" asp-controller="Order" asp-action="GetOrders">Orders</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Logout</a></li>
                    </ul>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Logout Warning</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @User.Identity.Name are you sure you want to logout?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
